body {
    color: rgb(203, 1, 221);
    background-color: rgb(45, 180, 221);
    font-family: sans-serif;
}

#game-board {
    border: solid 1px black;
    margin-bottom: 2em;
}

#game-board td {
    border: solid 3px rgba(0, 0, 0, 0.288);
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 45px;
}